header{
  background-color: lightblue;
  color: darkblue;
  padding: 15px;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-family:  Arial  ; 
}
h2 {
 
  font-family:  Verdana  ; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  
    width: 100%;
}

li {
    float: fixed;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: absolute;
    top: 400;
    width: 100%;
}


ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 200px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: black;}
ul.topnav li a.active {background-color: white;}
ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.clearfix {
    margin-top: 40px;   
}
.clearfix {
    overflow: auto;
}

img{
    float: right; 
    margin-top: -15px;
     
}

p {
    font-size : 20px;
    padding : 5px;
    margin : 0px;
    line-height : 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p1 {
    float: right;
        font-size : 20px;
    padding : 5px;
    margin : 0px;
    line-height : 20px;
}
form1 {
margin-top: -500px;

}
h3 {
 float: right;
 font-size: 25px;
 margin-top: -550px;
  font-family:  Verdana  ; 
}
h4{
     font-size: 30px;

  font-family:  Verdana  
}

h5 {
 
  font-family:  Verdana  ; 
  float: right;
       font-size: 30px;
        margin-top: -160px;
}
p6 {
    float: right;
        font-size : 20px;
    padding : 5px;
    margin : 0px;
    line-height : 20px;
    margin-top:40px;
}
p7 {
    float: right;
        font-size : 20px;
    padding : 5px;
    margin : 0px;
    line-height : 20px;
    margin-top:60px;
}
p8 {
    float: right;
        font-size : 20px;
    padding : 5px;
    margin : 0px;
    line-height : 20px;
    margin-top:80px;
}
video {
  width:;
  height: 250;
  margin: 0 auto;
  display: block;
}
body{
    background: white;
}
output {
    display: inline;
}
